@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* colors */
#t1 .bg-gradient {
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
}

#t1.bg-dark {
  background-color: #1f1d2b;
}

#t1 .fc-white {
  color: #ffffff;
}

#t1 .fc-greydark {
  color: #bcbcbc;
}

#t1 .fc-greylight {
  color: #d7d7d7 !important;
}

#t1 .fc-greylighter {
  color: #e2e2e2;
}
/* end colors */

/* tipography */
#t1 .txt-cap {
  text-transform: capitalize;
}

#t1 .txt-upper {
  text-transform: uppercase;
}

#t1 .txt-center {
  text-align: center;
}

#t1 h1 {
  font-size: 72px;
}

#t1 h3 {
  font-size: 48px;
}

#t1 h4 {
  font-size: 40px;
}

#t1 h5 {
  font-size: 24px;
}

#t1 h6 {
  font-size: 20px;
}

#t1 p {
  font-size: 16px;
}

#t1 .spacing-neg1 {
  letter-spacing: -1px;
}

#t1 .fw-bold {
  font-weight: 700;
}

#t1 .fw-sbold {
  font-weight: 600;
}

#t1 .fw-med {
  font-weight: 500;
}

#t1 .fw-reg {
  font-weight: 400;
}

#t1 .spacing-2 {
  letter-spacing: 2px;
}
/* end tipography */

/* global */
#t1 {
  font-family: 'Poppins', 'sans-serif';
  color: #ffffff;
}

#t1 .w-100p {
  width: 100%;
}

#t1 .dis-block {
  display: block;
}

#t1 a {
  text-decoration: none;
}

#t1 .container {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
}
/* end global */

#t1 .card img.nft {
  border-radius: 10px;
}

#t1 .card .info-group {
  margin-top: 24px;
  font-size: 16px;
}

#t1 .card .main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

#t1 .card .divider {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #c4c4c4;
}

#t1 .card .bid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

#t1 .card .bid-btn {
  padding: 2px 24px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
}

#t1 .navi {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 20px;
  z-index: 999;
}

#t1 .navi .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#t1 .navi-brand {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

#t1 .navi .menu-fragments {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25px;
  height: 30px;
  z-index: 1001;
  cursor: pointer;
  transition: 0.5s;
}

#t1 .navi .shards {
  border-radius: 20px;
  height: 4px;
  background-color: #bcbcbc;
  transition: 0.8s;
}

#t1 .navi .menu-fragments :nth-child(1),
#t1 .navi .menu-fragments :nth-child(2),
#t1 .navi .menu-fragments :nth-child(3) {
  width: 100%;
}

#t1 .navi .menu-fragments.active :nth-child(1) {
  transform: translateY(9px) rotate(405deg);
  background-color: #9b51e0;
}

#t1 .navi .menu-fragments.active :nth-child(2) {
  opacity: 0;
}

#t1 .navi .menu-fragments.active :nth-child(3) {
  transform: translateY(-8px) rotate(-405deg);
  background-color: #9b51e0;
}

#t1 .navi-links-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}

#t1 .navi-link-g1,
#t1 .navi-link-g2 {
  display: flex;
}

#t1 .navi-link-g1 {
  column-gap: 32px;
}

#t1 .navi .link {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #bcbcbc;
}

#t1 .navi .link.active {
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

#t1 .navi .link.active::after {
  display: block;
  content: '';
  width: 100%;
  height: 1.5px;
  background-color: #9b51e0;
}

#t1 .navi-link-g2 .link {
  padding: 12px 35px;
  border-radius: 10px;
}

#t1 .navi-link-g2 .link.bordered {
  border: 1px solid #d7d7d7;
}

#t1 .welcome-segment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 180px;
}

#t1 .welcome-segment .ellipse-1 {
  position: absolute;
  left: -30px;
  top: -30px;
  width: 123px;
  height: 123px;
  border-radius: 50%;
  background: #fb37ff;
  filter: blur(100px);
  z-index: 0;
}

#t1 .welcome-segment .ellipse-2 {
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 123px;
  height: 123px;
  border-radius: 50%;
  background: #18b2de;
  filter: blur(100px);
  z-index: 0;
}

#t1 .welcome-segment .txt-group {
  width: 637px;
}

#t1 .welcome-segment h1 {
  line-height: 81px;
}

#t1 .welcome-segment h5 {
  letter-spacing: 0.5px;
  margin-top: 24px;
}

#t1 .welcome-segment .btn-group {
  display: flex;
  column-gap: 40px;
  margin-top: 32px;
}

#t1 .welcome-segment a .btn {
  padding: 12px 67px;
  color: #ffffff;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 600;
}

#t1 .welcome-segment .bordered {
  border: 1px solid #d7d7d7;
}

#t1 .popular-con {
  position: relative;
  width: 504px;
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(
    142deg,
    rgba(251, 55, 255, 1) 0%,
    rgba(251, 55, 255, 0) 25%,
    rgba(27, 178, 222, 0) 77%,
    rgba(27, 178, 222, 1) 100%
  );
}

#t1 .welcome-segment .popular-con .card {
  position: relative;
  padding: 24px 29px;
  border-radius: 20px;
  backdrop-filter: blur(1110px);
  z-index: 1;
}

#t1 .welcome-segment .popular-con img.nft {
  border-radius: 20px;
}

#t1 .welcome-segment .popular-con .info-group {
  display: flex;
}

#t1 .welcome-segment .popular-con .prof-img-con {
  width: 55px;
  margin-right: 11px;
}

#t1 .welcome-segment .popular-con .owner-price {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#t1 .welcome-segment .popular-con .likes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: auto;
}

#t1 .welcome-segment .popular-con .counts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 8px;
}

#t1 .auction-segment {
  margin-top: 140px;
}

#t1 .auction-segment .element-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

#t1 .auction-segment .element-header h6 {
  display: flex;
  column-gap: 8px;
}

#t1 .auction-segment h6 img {
  width: 15px;
}

#t1 .auction-segment .items-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 29px;
  row-gap: 50px;
  margin-top: 40px;
}

#t1 .auction-segment .card,
#t1 .discover-segment .card {
  width: 278.25px;
}

#t1 .started-segment {
  margin-top: 150px;
}

#t1 .started-segment h6 {
  margin-top: 24px;
}

#t1 .started-segment .services-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 80px;
}

#t1 .started-segment .card {
  text-align: center;
  width: 175px;
}

#t1 .started-segment .svg-con {
  padding: 40px 50px;
  background-color: rgba(255, 255, 255, 0.095);
  border-radius: 26px;
  backdrop-filter: blur(74.4293px);
  box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17),
    inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
}

#t1 .started-segment p {
  margin-top: 24px;
}

#t1 .discover-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
}

#t1 .discover-segment .element-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#t1 .discover-segment .filter-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
}

#t1 .discover-segment .filter-group h6 {
  display: flex;
  column-gap: 8px;
}

#t1 .discover-segment .filter-group button {
  background-color: transparent;
  color: #ffffff;
  border: 0;
  cursor: pointer;
}

#t1 .discover-segment .filter-group .bordered {
  padding: 10px 40px;
  border-radius: 10px;
}

#t1 .discover-segment .items-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 29px;
  row-gap: 50px;
  margin-top: 80px;
}

#t1 .discover-segment .more {
  margin-top: 80px;
  padding: 10px 40px;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  font-size: 12px;
  background-color: transparent;
}

#t1 footer {
  margin-top: 160px;
}

#t1 footer .up-ft,
#t1 footer .lw-ft {
  display: flex;
  justify-content: space-between;
}

#t1 footer .side-txt {
  width: 455px;
}

#t1 footer .ft-marketplace {
  width: 250px;
}

#t1 footer .ft-company,
#t1 footer .ft-contact {
  width: 200px;
}

#t1 footer .ft-contact {
  width: 165px;
}

#t1 footer .ft-group-link {
  margin-top: 40px;
}

#t1 footer .ft-group-link a:not(:last-child) h6 {
  margin-bottom: 32px;
}

#t1 footer .divider {
  background-color: #f2f2f2;
  width: 100%;
  height: 1px;
  margin: 40px 0 37px;
}

#t1 footer .lw-ft {
  margin-bottom: 105px;
}

#t1 footer .social-group img:not(:last-child) {
  margin-right: 25px;
}

#t1 footer .copyrights {
  color: #828282;
}

@media (min-width: 1200px) {
  #t1 .container {
    width: 1200px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  #t1 .container {
    width: 1024px;
    padding: 0 40px;
  }

  #t1 .navi-links-con {
    width: 70%;
  }

  #t1 h1 {
    font-size: 55px;
  }

  #t1 .auction-segment .card,
  #t1 .discover-segment .card {
    width: 214px;
  }

  #t1 .auction-segment .main,
  #t1 .discover-segment .main {
    font-size: 15px;
  }

  #t1 footer h4 {
    font-size: 33px;
  }

  #t1 footer .side-txt {
    width: 280px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #t1 .container {
    width: 768px;
    padding: 0 30px;
  }

  #t1 .welcome-segment {
    flex-direction: column;
  }

  #t1 .welcome-segment .popular-con {
    margin-top: 50px;
    width: 90%;
  }

  #t1 .auction-segment .items-group,
  #t1 .discover-segment .items-group {
    column-gap: 0;
    justify-content: space-between;
  }

  #t1 .auction-segment .card,
  #t1 .discover-segment .card {
    width: 48%;
  }

  #t1 .started-segment .card {
    width: 20%;
  }

  #t1 .discover-segment .element-header {
    align-items: flex-start;
    flex-direction: column;
  }

  #t1 .discover-segment .filter-group {
    margin-left: auto;
  }

  #t1 footer h4 {
    font-size: 30px;
  }

  #t1 footer .up-ft {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #t1 footer .side-txt {
    width: 100%;
  }

  #t1 footer .ft-marketplace,
  #t1 footer .ft-company,
  #t1 footer .ft-contact {
    margin-top: 30px;
  }
}

@media (min-width: 320px) and (max-width: 1023px) {
  #t1 .navi-links-con {
    position: absolute;
    top: 50px;
    right: 5px;
    width: 320px;
    height: 0;
    overflow: hidden;
    align-items: center;
    background-color: #1f1d2b;
    border-radius: 0 0 5px 5px;
    flex-direction: column;
    box-shadow: 1px 6px 18px -3px rgba(155, 81, 224, 0.54);
    -webkit-box-shadow: 1px 6px 18px -3px rgba(155, 81, 224, 0.54);
    -moz-box-shadow: 1px 6px 18px -3px rgba(155, 81, 224, 0.54);
    transition: 0.5s;
  }

  #t1 .navi-links-con.active {
    height: 343.5px;
  }

  #t1 .navi-link-g1,
  #t1 .navi-link-g2 {
    flex-direction: column;
  }

  #t1 .navi-link-g1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #t1 .navi-link-g2 {
    margin-bottom: 20px;
  }

  #t1 .navi-link-g1 .link {
    text-align: center;
    padding: 12px 35px;
    width: 90px;
  }

  #t1 .navi-link-g2 .link {
    text-align: center;
    width: 90px;
  }

  #t1 .navi-link-g2 .link.bordered {
    border: none;
  }

  #t1 .navi-link-g1 a:not(:last-child),
  #t1 .navi-link-g2 a:not(:last-child) {
    margin-bottom: 10px;
  }

  #t1 .navi .menu-fragments {
    display: flex;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  #t1 .container {
    max-width: 480px;
    min-width: 320px;
    padding: 0 10px;
  }

  #t1 h1 {
    font-size: 50px;
  }

  #t1 .welcome-segment {
    flex-direction: column;
  }

  #t1 .welcome-segment .txt-group {
    width: 100%;
  }

  #t1 .welcome-segment .txt-group a {
    width: 40%;
  }

  #t1 .welcome-segment .btn-group {
    justify-content: center;
  }

  #t1 .welcome-segment .btn-group .btn {
    text-align: center;
    padding: 12px 0;
    width: 100%;
  }

  #t1 .welcome-segment .popular-con {
    width: 100%;
    margin-top: 80px;
  }

  #t1 .auction-segment .element-header,
  #t1 .discover-segment .element-header {
    flex-direction: column;
  }

  #t1 .auction-segment .card,
  #t1 .discover-segment .card {
    width: 95%;
  }

  #t1 .started-segment .card {
    width: 35%;
  }

  #t1 .discover-segment .element-header {
    align-items: center;
  }

  #t1 .discover-segment .items-group {
    margin-top: 40px;
  }

  #t1 footer h4 {
    font-size: 30px;
  }

  #t1 footer .up-ft {
    flex-wrap: wrap;
    justify-content: center;
  }

  #t1 footer .side-txt {
    text-align: center;
  }

  #t1 footer .ft-marketplace,
  #t1 footer .ft-company,
  #t1 footer .ft-contact {
    text-align: center;
    margin-top: 30px;
  }

  #t1 footer .ft-group-link {
    margin-top: 20px;
  }

  #t1 footer .ft-group-link h6 {
    margin-bottom: 20px;
  }
}
