@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* colors */
.bg-gradient {
  background: linear-gradient(125deg, #102572 3.29%, #612687 69.03%);
}

.bg-greenlime {
  background-color: #e6ff50;
}

.fc-purple {
  color: #612687;
}

.fc-blue {
  color: #102572 !important;
}

.fc-black-700 {
  color: #07080d;
}
/* end colors */

/* tipography */
.txt-cap {
  text-transform: capitalize;
}

.txt-upper {
  text-transform: uppercase;
}

h1 {
  font-size: 61px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 18px;
}

p.fs-16 {
  font-size: 16px;
}

.fw-bold {
  font-weight: 700;
}

.fw-med {
  font-weight: 500;
}

.fw-reg {
  font-weight: 400;
}

.lh-0 {
  line-height: 0;
}

.lh-1 {
  line-height: 1;
}

.spacing-2 {
  letter-spacing: 2px;
}
/* end tipography */

/* global */
#t2 {
  font-family: 'Poppins', 'sans-serif';
  color: #ffffff;
}

section {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.txt-center {
  text-align: center;
}

.w-100p {
  width: 100%;
}

.dis-block {
  display: block;
}

.container {
  margin: auto;
  box-sizing: border-box;
  width: 100%;
}

.freeze {
  overflow: hidden;
}
/* end global */

.background {
  position: absolute;
  background-image: url(../img/t2-background.png);
  background-repeat: no-repeat;
  background-position: right;
  left: 0;
  right: 0;
  top: -60px;
  width: 100%;
  height: 100vh;
}

.navi {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  width: 100%;
  /* margin-top: 40px; */
  /* overflow: hidden; */
  z-index: 999;
}

.navi .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navi-brand {
  font-size: 34px;
}

.navi-links {
  display: flex;
}

.navi .link {
  font-weight: 500;
  padding: 16px 32px;
  color: #ffffff;
  border-radius: 8px;
}

.navi .menu-fragments {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25px;
  height: 30px;
  z-index: 1001;
  cursor: pointer;
  transition: 0.5s;
}

.navi .shards {
  border-radius: 20px;
  height: 4px;
  background-color: #ffffff;
  transition: 0.5s;
}

.navi .menu-fragments :nth-child(1),
.navi .menu-fragments :nth-child(3) {
  width: 100%;
}

.navi .menu-fragments :nth-child(2) {
  width: 60%;
}

.navi .menu-fragments.active :nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.navi .menu-fragments.active :nth-child(2) {
  opacity: 0;
}

.navi .menu-fragments.active :nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mission-segment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 16px;
  margin-top: 123px;
}

.mission-segment .txt-group {
  width: 519px;
}

.mission-segment p {
  margin-top: 16px;
}

.mission-segment button {
  padding: 16px 32px;
  border: 0;
  border-radius: 8px;
  margin-top: 24px;
  cursor: pointer;
}

.mission-segment .img-con {
  width: 560px;
}

.projects-segment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 16px;
  margin-top: 40px;
}

.projects-segment .overline {
  position: absolute;
  display: block;
  width: 95%;
  height: 17px;
  top: 76px;
  background-color: #c4c4c4;
}

.projects-segment .card {
  width: 30%;
  background-color: #ffffff;
  border-radius: 24px;
  overflow: hidden;
}

.projects-segment .padding {
  padding: 10px 40px 16px;
}

.projects-segment .interaction-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.projects-segment button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.about-segment {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 16px;
  margin-top: 90px;
}

.about-segment .img-con {
  width: 329px;
}

.about-segment img {
  transform: rotate(-15deg);
}

.about-segment .txt-group {
  width: 519px;
}

.about-segment p {
  margin-top: 16px;
}

.about-segment button {
  padding: 16px 32px;
  border: 0;
  border-radius: 8px;
  margin-top: 24px;
  cursor: pointer;
}

.testimonial-segment {
  margin-top: 80px;
}

.testimonial-segment .testimony-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 16px;
  margin-top: 21px;
}

.testimonial-segment .clear-card {
  width: 30%;
}

.testimonial-segment .clear-card :not(:first-child) {
  margin-top: 24px;
}

.ticket-segment {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 16px;
  margin-top: 92px;
}

.ticket-segment .txt-group {
  width: 519px;
}

.ticket-segment p {
  margin-top: 16px;
}

.ticket-segment button {
  padding: 16px 32px;
  border: 0;
  border-radius: 8px;
  margin-top: 24px;
  cursor: pointer;
}

.ticket-segment .img-con {
  width: 519px;
}

.ticket-segment .sponsored {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.subscribe-segment {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 16px;
  margin-top: 80px;
}

.subscribe-segment .txt-group {
  width: 410px;
}

.subscribe-segment p {
  margin-top: 16px;
}

.subscribe-segment .input-groups {
  margin-top: 16px;
}

.subscribe-segment .input-group:nth-child(1) {
  margin-bottom: 16px;
}

.subscribe-segment input {
  font-size: 18px;
  background-color: #ffffff;
  color: #646464;
  padding: 12px 25px;
  border: 1px solid #e6ff50;
  border-radius: 8px;
  width: calc(100% - 52px);
  outline: none;
}

.subscribe-segment button {
  font-size: 18px;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: 0;
  margin-top: 16px;
  cursor: pointer;
}

.subscribe-segment .img-con {
  width: 410px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 0;
  margin-top: 123px;
  border-radius: 24px 24px 0 0;
  background-color: #ffffff;
  overflow: hidden;
}

footer .logo-group,
footer .social-group {
  display: flex;
  align-items: center;
}

footer .social-group:not(:last-child) {
  margin-bottom: 8px;
}

footer .social-group img {
  margin-right: 10px;
}

footer .brand {
  font-size: 34px;
}

footer a {
  font-size: 18px;
  color: #102572;
  text-decoration: underline;
}

/* desktop || big screen */
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* small laptop */
@media (min-width: 1024px) and (max-width: 1199px) {
  .container {
    width: 1024px;
    padding: 0 40px;
  }

  .mission-segment .txt-group {
    width: 450px;
  }

  .mission-segment .img-con {
    width: 400px;
  }

  .projects-segment .overline {
    top: 55px;
  }

  .projects-segment .padding {
    padding: 10px 20px 16px;
  }

  .ticket-segment .txt-group {
    width: 450px;
  }

  .ticket-segment .img-con {
    width: 400px;
  }
}

/* small laptop - mobile devices */
@media (min-width: 320px) and (max-width: 1199px) {
  h4 {
    font-size: 20px;
  }
}

/* ipad || tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .background {
    background-position: center;
  }

  .container {
    width: 768px;
    padding: 0 30px;
  }

  .navi-links-con {
    position: absolute;
    background-color: rgba(16, 37, 114, 0.5);
    backdrop-filter: blur(20px);
    top: -40px;
    right: 0;
    width: 0;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
    transition: 0.5s;
  }

  .navi-links-con.active {
    padding: 20px 30px;
    width: 250px;
  }

  .navi-links {
    position: absolute;
    flex-direction: column;
    top: 100px;
    right: 70px;
  }

  .navi-links .link {
    text-align: center;
  }

  .navi-links a:not(:last-child) .link {
    padding: 0;
  }

  .navi-links a:not(:last-child) {
    padding: 0 32px;
    margin: 16px 0 16px;
  }

  .navi .menu-fragments {
    right: 100px;
  }

  .navi .menu-fragments.active {
    position: absolute;
    right: 240px;
  }

  .mission-segment .txt-group {
    width: 410px;
  }

  .mission-segment .img-con {
    width: 270px;
  }

  .projects-segment {
    flex-wrap: wrap;
    margin-top: 90px;
  }

  .projects-segment .overline {
    display: none;
  }

  .projects-segment .card {
    width: 300px;
  }

  .projects-segment .padding {
    padding: 10px 20px 16px;
  }

  .about-segment .img-con {
    width: 250px;
  }

  .about-segment .txt-group {
    width: 350px;
  }

  .testimonial-segment {
    margin-top: 40px;
  }

  .testimonial-segment .testimony-group {
    flex-wrap: wrap;
  }

  .testimonial-segment .clear-card {
    width: 300px;
  }

  .ticket-segment .txt-group {
    width: 340px;
  }

  .ticket-segment .img-con {
    width: 320px;
  }

  .ticket-segment .sponsored img {
    width: 50%;
  }

  .subscribe-segment .txt-group {
    width: 360px;
  }

  .subscribe-segment .img-con {
    width: 300px;
  }
}

/* ipad || tablet - mobile devices */
@media (min-width: 320px) and (max-width: 1023px) {
  h1 {
    font-size: 50px;
  }

  .navi .menu-fragments {
    display: flex;
  }
}

/* mobile devices */
@media (min-width: 320px) and (max-width: 767px) {
  .background {
    background-image: none;
  }

  .container {
    max-width: 480px;
    min-width: 320px;
    padding: 0 10px;
  }

  .navi-links-con {
    position: absolute;
    background-color: rgba(16, 37, 114, 0.5);
    backdrop-filter: blur(20px);
    top: -40px;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: 0;
    transition: 0.5s;
  }

  .navi-links-con.active {
    opacity: 1;
  }

  .navi-links {
    position: absolute;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navi-links a:not(:last-child) .link {
    padding: 0;
  }

  .navi-links a:not(:last-child) {
    padding: 0 32px;
    margin: 16px;
  }

  .mission-segment,
  .projects-segment,
  .about-segment,
  .testimony-group,
  .ticket-segment,
  .subscribe-segment {
    flex-direction: column;
  }

  .mission-segment .txt-group,
  .about-segment .txt-group,
  .ticket-segment .txt-group,
  .subscribe-segment .txt-group {
    text-align: center;
    width: 100%;
  }

  .mission-segment p,
  .about-segment p,
  .ticket-segment p,
  .subscribe-segment p {
    text-align: left;
  }

  .mission-segment .img-con,
  .ticket-segment .img-con,
  .subscribe-segment .img-con {
    width: 100%;
  }

  .projects-segment .overline {
    display: none;
  }

  .projects-segment .card,
  .testimonial-segment .clear-card {
    width: 85%;
  }

  .about-segment .img-con {
    width: 85%;
  }

  .testimonial-segment,
  .ticket-segment,
  .subscribe-segment,
  footer {
    margin-top: 40px;
  }

  .footer .logo-group {
    flex-wrap: wrap;
  }
}
